body {
  background-image: url(assets/background-light.jpg);
  background-size: auto;
  background-position: center;
  height: 100vh;
  font-family: "Indie Flower", cursive;
  font-weight: 400;
  font-style: normal;
  color: #800000;
  padding: 20px;
  padding-bottom: 0;
  margin: 0;
}

.top-dashboard__navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.top-dashboard__title {
  text-align: center;
  font-size: 72px;
  margin: 0;
  background-color: #ffc0cb;
  border-radius: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.top-dashboard__navigation__theme,
.top-dashboard__navigation__sound {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  font-size: xx-large;
}

.top-dashboard__navigation__sound__button,
.top-dashboard__navigation__theme__button {
  width: 10vw;
  height: 10vh;
  border-radius: 100px;
  border: none;
  background: rgb(110, 164, 115);
  background: radial-gradient(circle, rgba(110, 164, 115, 1) 0%, rgba(8, 109, 20, 1) 100%);
  cursor: pointer;
  font-family: "Indie Flower", cursive;
  font-weight: 400;
  font-style: normal;
  color: #ffc0cb;
  font-size: xx-large;
}

.top-dashboard__navigation__sound__button__image {
  width: 90%;
  align-items: center;
}

.top-dashboard__navigation__sound__word,
.top-dashboard__navigation__theme__word {
  padding: 10px;
  background-color: #ffc0cb;
  border-radius: 100px;
}

.play-area {
  height: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.play-area__time,
.play-area__save {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: rgb(110, 164, 115);
  background: radial-gradient(circle, rgba(110, 164, 115, 1) 0%, rgba(8, 109, 20, 1) 100%);
  height: 10vh;
  border-radius: 20px;
  margin-top: 40px;
  border: none;
}

.play-area__save {
  background: rgb(214, 57, 138);
  background: radial-gradient(circle, rgba(214, 57, 138, 1) 0%, rgba(182, 17, 80, 1) 100%);
  width: 20vw;
  font-size: xx-large;
  font-family: "Indie Flower", cursive;
  font-style: normal;
  color: #ffc0cb;
  font-weight: 700;
  cursor: pointer;
  display: flex;
  justify-content: space-evenly;
}

.play-area__save__image {
  width: 20%;
}

.play-area__display {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 11vh;
  border-radius: 20px;
  font-size: large;
  font-family: "Indie Flower", cursive;
  font-style: normal;
  background-color: #f2d3d9;
  font-weight: 700;
}

.play-area__display span {
  color:darkgreen;
  font-size: larger;
}

.play-area__time__word,
.play-area__time__stopwatch {
  margin: 20px;
  font-size: xx-large;
  color: #ffc0cb;
  font-weight: 700;
}

.play-area__time__stopwatch {
  width: 90px;
}

.play-area__box {
  margin-top: 40px;
  width: auto;
  height: auto;
  background-color: #f2d3d9;
  border-radius: 20px;
  padding: 50px;
  padding-bottom: 10px;
}

.play-area__box__hint-vertical {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  font-size: xx-large;
  margin-left: 77px;
  height: auto;
  border-bottom: 5px solid #800000;
}

.play-area__box__hint-horizontal-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: xx-large;
  border-right: 5px solid #800000;
}

.play-area__box__hint-and-field {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  position: relative;
}

.play-area__box__hint__numberH,
.play-area__box__hint__numberV {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 72px;
  height: 72px;
}

.play-area__box__hint__numberH {
  border-top: 1px solid #800000;
}

.play-area__box__hint__numberV {
  border-right: 1px solid #800000;
}

.play-area__image {
  margin-left: 15px;
  margin-top: 20px;
  height: 100%;
}

.play-area__box__field {
  grid-row-gap: 2px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 2px;
}

.play-area__box__line-field1-10 {
  left: 56.5%;
  z-index: 100;
  position: relative;
  width: 5px;
  background-color: #800000;
}

.play-area__box__line-field2-10 {
  top: 49.5%;
  position: absolute;
  width: 100%;
  height: 5px;
  background-color: #800000;
}

.play-area__box__line-field1-15,
.play-area__box__line-field2-15,
.play-area__box__line-field3-15,
.play-area__box__line-field4-15 {
  background-color: #800000;
}

.play-area__box__line-field1-15,
.play-area__box__line-field2-15 {
  position: relative;
  height: calc(5 * var(--square-height) + 10px);
  width: 4px;
}

.play-area__box__line-field1-15 {
  left: 45.8%;
}

.play-area__box__line-field2-15 {
  left: 71.9%;
}

.play-area__box__line-field3-15,
.play-area__box__line-field4-15 {
  position: absolute;
  width: 100%;
  height: 4px;
}

.play-area__box__line-field3-15 {
  top: 33%;
}

.play-area__box__line-field4-15 {
  top: 66.5%;
}

.play-area__box__field__square {
  width: 72px;
  height: 72px;
  background-color: white;
  box-sizing: border-box;
  cursor: pointer;
  color: #800000;
  font-size: x-large;
  margin: 0;
  /* transition: 0.3s; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.dark {
  background-color: #0f7a1d;
}

.bottom-dashboard {
  height: 10vh;
  background: rgb(110, 164, 115);
  background: radial-gradient(circle, rgba(110, 164, 115, 1) 0%, rgba(8, 109, 20, 1) 100%);
  border-radius: 20px;
}

.bottom-dashboard__navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.bottom-dashboard__navigation ul {
  margin: 0;
  padding: 0;
  font-size: xx-large;
  margin-top: 10px;
  cursor: pointer;
  color: #ffc0cb;
}

/* MENU STYLES */
.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 70%;
}

.menu__navigation {
  margin-top: 40px;
  width: 60vw;
  height: auto;
  font-size: xx-large;
  font-weight: 800;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.menu__navigation ul {
  padding-left: 40px;
  padding-right: 40px;
  cursor: pointer;
  background-color: #f2d3d9;
  border-radius: 20px;
}

.menu__navigation__start {
  font-size: larger;
  background: rgb(214, 57, 138);
  background: radial-gradient(circle, rgba(214, 57, 138, 1) 0%, rgba(182, 17, 80, 1) 100%);
  color: #f2d3d9;
}

.menu__image {
  height: 100%;
  margin-top: 20px;
}

.menu__navigation__level-option,
.menu__navigation__template-option {
  font-size: x-large;
  background-color: floralwhite;
  font-family: "Indie Flower", cursive;
  font-weight: 800;
  font-style: normal;
  color: #800000;
  border-radius: 20px;
  padding-left: 20px;
  cursor: pointer;
}

.bottom-dashboard-menu {
  height: 10vh;
  background: rgb(110, 164, 115);
  background: radial-gradient(circle, rgba(110, 164, 115, 1) 0%, rgba(8, 109, 20, 1) 100%);
  border-radius: 20px;
  display: flex;
  align-items: center;
}

.bottom-dashboard__image {
  cursor: pointer;
  margin-left: 20px;
  margin-right: 20px;
  width: 5vw;
}

.bottom-dashboard-menu__button {
  background-color: #f2d3d9;
  color: #800000;
  font-family: "Indie Flower", cursive;
  font-weight: 800;
  font-style: normal;
  font-size: xx-large;
  border-radius: 20px;
  cursor: pointer;
  border: none;
  padding: 10px;
}

/* MODAL WINDOW STYLES */

.modal-window-container {
  padding: 0;
  display: flex;
  align-content: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(139, 137, 133, 0.8);
  z-index: 9998;
}

.modal-window {
  width: max-content;
  margin: 16px;
  padding: 20px;
  background: rgb(251, 174, 220);
  background: radial-gradient(circle, rgba(251, 174, 220, 1) 0%, rgba(232, 124, 172, 1) 100%);
  border-radius: 30px;
  z-index: 100;
  position: relative;
  border-radius: 100px;
}

.modal-window__head {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.modal-window__image {
  width: 20vw;
  min-width: 200px;
}

.modal-window__congratulation {
  max-width: 300px;
  font-size: 40px;
  margin-left: 30px;
  text-align: center;
}

.modal-window__buttons-container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.modal-window__start-again-button,
.modal-window__menu-button {
  margin-left: 20px;
  cursor: pointer;
  padding: 20px;
  border: none;
  background: rgb(9, 110, 44);
  background: radial-gradient(circle, rgba(9, 110, 44, 1) 0%, rgba(22, 157, 40, 1) 100%);
  border-radius: 20px;
  font-family: "Indie Flower", cursive;
  font-weight: 700;
  font-style: normal;
  font-size: xx-large;
  color: #ffc0cb;
}