html,
body {
  min-height: 100vh;
}

body {
  background-image: url(assets/background-light.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Indie Flower", cursive;
  font-weight: 400;
  font-style: normal;
  color: #800000;
  padding: 20px;
  padding-bottom: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #29105c;
}

a:hover {
  text-decoration: underline;
  color: #29105c;
}

.top-dashboard__navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.top-dashboard__title {
  text-align: center;
  font-size: 72px;
  margin: 0;
  background-color: #ffc0cb;
  border-radius: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.top-dashboard__navigation__theme,
.top-dashboard__navigation__sound {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  font-size: xx-large;
  padding: 0;
}

.top-dashboard__navigation__sound__button,
.top-dashboard__navigation__theme__button {
  width: 10vw;
  height: 10vh;
  border-radius: 100px;
  border: none;
  background: rgb(110, 164, 115);
  background: radial-gradient(circle, rgba(110, 164, 115, 1) 0%, rgba(8, 109, 20, 1) 100%);
  cursor: pointer;
  font-family: "Indie Flower", cursive;
  font-weight: 400;
  font-style: normal;
  color: #ffc0cb;
  font-size: xx-large;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-dashboard__navigation__sound__button__image {
  width: 90%;
  align-items: center;
}

.top-dashboard__navigation__sound__word,
.top-dashboard__navigation__theme__word {
  padding: 10px;
  background-color: #ffc0cb;
  border-radius: 100px;
}

.play-area {
  height: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.play-area__time,
.play-area__save {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: rgb(110, 164, 115);
  background: radial-gradient(circle, rgba(110, 164, 115, 1) 0%, rgba(8, 109, 20, 1) 100%);
  height: 10vh;
  border-radius: 20px;
  margin-top: 40px;
  border: none;
}

.play-area__save {
  background: rgb(214, 57, 138);
  background: radial-gradient(circle, rgba(214, 57, 138, 1) 0%, rgba(182, 17, 80, 1) 100%);
  width: 20vw;
  font-size: xx-large;
  font-family: "Indie Flower", cursive;
  font-style: normal;
  color: #ffc0cb;
  font-weight: 700;
  cursor: pointer;
  display: flex;
  justify-content: space-evenly;
}

.non-working {
  background: rgb(92, 92, 92);
  background: radial-gradient(circle, rgba(92, 92, 92, 1) 0%, rgba(146, 156, 148, 1) 100%);
  color: darkgray;
  cursor: no-drop;
}

.play-area__save__image {
  width: 20%;
}

.play-area__display {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 11vh;
  border-radius: 20px;
  font-size: large;
  font-family: "Indie Flower", cursive;
  font-style: normal;
  background-color: #f2d3d9;
  font-weight: 700;
}

.play-area__display span {
  color: darkgreen;
  font-size: larger;
}

.play-area__time__word,
.play-area__time__stopwatch {
  margin: 20px;
  font-size: xx-large;
  color: #ffc0cb;
  font-weight: 700;
}

.play-area__time__stopwatch {
  width: 90px;
}

.play-area__box {
  margin-top: 30px;
  width: auto;
  height: max-content;
  background-color: #f2d3d9;
  border-radius: 20px;
  padding: 20px;
  padding-bottom: 10px;
  padding-top: 50px;
}

.play-area__box__hint-vertical {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  font-size: xx-large;
  margin-left: 86px;
  height: auto;
  border-bottom: 5px solid #800000;
  height: auto;
}

.play-area__box__hint-horizontal-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: xx-large;
  border-right: 5px solid #800000;
}

.play-area__box__hint-and-field {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  position: relative;
}

.play-area__box__hint__numberH,
.play-area__box__hint__numberV {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 72px;
  height: 72px;
}

.play-area__box__hint__numberH {
  border-top: 1px solid #800000;
  display: flex;
  justify-content: flex-end;
  padding-right: 8px;
}

.play-area__box__hint__numberV {
  border-right: 1px solid #800000;
  display: flex;
  align-items: flex-end;
}

.play-area__image {
  padding-top: 60px;
  height: 100%;
}

.play-area__box__field {
  grid-row-gap: 2px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 2px;
}

.play-area__box__line-field1-10 {
  left: 57.1%;
  z-index: 100;
  position: relative;
  width: 5px;
  background-color: #800000;
}

.play-area__box__line-field2-10 {
  top: 49.5%;
  position: absolute;
  width: 100%;
  height: 5px;
  background-color: #800000;
}

.play-area__box__line-field1-15,
.play-area__box__line-field2-15,
.play-area__box__line-field3-15,
.play-area__box__line-field4-15 {
  background-color: #800000;
}

.play-area__box__line-field1-15,
.play-area__box__line-field2-15 {
  position: relative;
  height: calc(5 * var(--square-height) + 10px);
  width: 4px;
}

.play-area__box__line-field1-15 {
  left: 46.6%;
}

.play-area__box__line-field2-15 {
  left: 72.2%;
}

.play-area__box__line-field3-15,
.play-area__box__line-field4-15 {
  position: absolute;
  width: 100%;
  height: 4px;
}

.play-area__box__line-field3-15 {
  top: 33%;
}

.play-area__box__line-field4-15 {
  top: 66.5%;
}

.play-area__box__field__square {
  width: 72px;
  height: 72px;
  background-color: white;
  box-sizing: border-box;
  cursor: pointer;
  color: #800000;
  font-size: x-large;
  margin: 0;
  /* transition: 0.3s; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.dark {
  background-color: #0f7a1d;
}

.bottom-dashboard {
  height: 10vh;
  background: rgb(110, 164, 115);
  background: radial-gradient(circle, rgba(110, 164, 115, 1) 0%, rgba(8, 109, 20, 1) 100%);
  border-radius: 20px;
}

.bottom-dashboard__navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.bottom-dashboard__navigation ul {
  margin: 0;
  padding: 0;
  font-size: xx-large;
  margin-top: 10px;
  cursor: pointer;
  color: #ffc0cb;
}

/* MENU STYLES */
.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 70%;
}

.menu__navigation {
  margin-top: 40px;
  width: 60vw;
  height: auto;
  font-size: xx-large;
  font-weight: 800;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.menu__navigation ul {
  padding-left: 40px;
  padding-right: 40px;
  cursor: pointer;
  background-color: #f2d3d9;
  border-radius: 20px;
}

.menu__navigation__start {
  font-size: larger;
  background: rgb(214, 57, 138);
  background: radial-gradient(circle, rgba(214, 57, 138, 1) 0%, rgba(182, 17, 80, 1) 100%);
  color: #f2d3d9;
}

.menu__image {
  height: 100%;
  margin-top: 20px;
}

.menu__navigation__level-option,
.menu__navigation__template-option {
  font-size: x-large;
  background-color: floralwhite;
  font-family: "Indie Flower", cursive;
  font-weight: 800;
  font-style: normal;
  color: #800000;
  border-radius: 20px;
  padding-left: 20px;
  cursor: pointer;
}

.bottom-dashboard-menu {
  height: 10vh;
  background: rgb(110, 164, 115);
  background: radial-gradient(circle, rgba(110, 164, 115, 1) 0%, rgba(8, 109, 20, 1) 100%);
  border-radius: 20px;
  display: flex;
  align-items: center;
}

.bottom-dashboard__image {
  cursor: pointer;
  margin-left: 20px;
  margin-right: 20px;
  width: 5vw;
}

.bottom-dashboard-menu__button {
  background-color: #f2d3d9;
  color: #800000;
  font-family: "Indie Flower", cursive;
  font-weight: 800;
  font-style: normal;
  font-size: xx-large;
  border-radius: 20px;
  cursor: pointer;
  border: none;
  padding: 10px;
}

.main-score-table {
  height: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.score-table {
  width: 60vw;
  height: auto;
  font-size: large;
  font-weight: 800;
  display: flex;
  flex-direction: column;
}

.score-table__title {
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
  border-radius: 20px;
  background-color: #f2d3d9;
}

.score-table tr {
  font-size: xx-large;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background: rgb(245, 205, 231);
  background: radial-gradient(circle, rgba(245, 205, 231, 1) 0%, rgba(242, 130, 190, 1) 100%);
  border-radius: 20px;
  margin-bottom: 10px;
  color: #0b4a0a;
}

.score-table td {
  width: 15vw;
}

.score-table td:nth-child(1) {
  text-align: center;
}

.bottom-dashboard__linkedin__icon {
  width: 1vw;
  margin-right: 10px;
}

.bottom-dashboard-start {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 10vh;
  background: rgb(110, 164, 115);
  background: radial-gradient(circle, rgba(110, 164, 115, 1) 0%, rgba(8, 109, 20, 1) 100%);
  border-radius: 20px;
  color: #29105c;
}

.bottom-dashboard__text-creator {
  margin: 0;
  margin-top: 16px;
  display: flex;
  align-items: center;
}

.bottom-dashboard__linkedin__link a {
  text-decoration: none;
}

/* MODAL WINDOW STYLES */

.modal-window-container {
  padding: 0;
  display: flex;
  align-content: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(139, 137, 133, 0.8);
  z-index: 9998;
}

.modal-window {
  width: max-content;
  margin: 16px;
  padding: 20px;
  background: rgb(251, 174, 220);
  background: radial-gradient(circle, rgba(251, 174, 220, 1) 0%, rgba(232, 124, 172, 1) 100%);
  border-radius: 30px;
  z-index: 100;
  position: relative;
  border-radius: 100px;
}

.modal-window__head {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.modal-window__image {
  width: 20vw;
  min-width: 200px;
}

.modal-window__congratulation {
  max-width: 300px;
  font-size: 40px;
  margin-left: 30px;
  text-align: center;
}

.modal-window__buttons-container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.modal-window__start-again-button,
.modal-window__menu-button {
  margin-left: 20px;
  cursor: pointer;
  padding: 20px;
  border: none;
  background: rgb(9, 110, 44);
  background: radial-gradient(circle, rgba(9, 110, 44, 1) 0%, rgba(22, 157, 40, 1) 100%);
  border-radius: 20px;
  font-family: "Indie Flower", cursive;
  font-weight: 700;
  font-style: normal;
  font-size: xx-large;
  color: #ffc0cb;
}

.no-saved-modal-window-container,
.saved-modal-window-container {
  position: fixed;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  z-index: 9998;
  top: 0;
  left: 0;
}

.no-saved-modal-window,
.saved-modal-window {
  width: 18vw;
  height: 5vh;
  background: rgb(251, 174, 220);
  background: radial-gradient(circle, rgba(251, 174, 220, 1) 0%, rgba(232, 124, 172, 1) 100%);
  border-radius: 20px;
  font-size: medium;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 27%;
  left: 8%;
}

.no-saved-modal-window {
  top: 13%;
  left: 30%;
}

.saved-modal-window__check-mark {
  margin-left: 10px;
  height: 4vh;
}

/* Adaptive design */
/* WIDTH */
@media screen and (min-width: 1320px) {
  body {
    height: 100vh;
  }
}

@media screen and (max-width: 1325px) {

  #Totoro {
    display: none;
  }

  .top-dashboard__navigation__theme {
    padding: 0;
  }

  .play-area__box {
    width: max-content;
    height: max-content;
  }

  .bottom-dashboard__navigation ul {
    font-size: x-large;
  }

  body {
    display: flex;
    flex-direction: column;
    justify-content: space-around
  }

  .play-area__save__image {
    width: 45px;
  }

  .saved-modal-window {
    width: 250px;
    height: auto;
    top: 30%;
  }

  .no-saved-modal-window {
    left: 41%;
    top: 8%;
  }
}

@media screen and (max-width: 850px) {

  .play-area {
    flex-direction: column;
    display: flex;
    align-items: center;
  }

  .play-area__section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
  }

  .play-area__display,
  .play-area__time,
  .play-area__save {
    margin: 0;
    margin-top: 15px;
    margin-left: 20px;
  }

  .play-area__display {
    margin-left: 0;
  }

  .play-area__display {
    padding: 10px;
    text-align: center;
  }

  .bottom-dashboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .score-table tr td {
    font-size: x-large;
  }

  .top-dashboard__navigation__sound__button,
  .top-dashboard__navigation__theme__button {
    width: 73px;
    height: 73px;
    font-size: large;
  }

  .play-area__save {
    font-size: large;
  }

  .saved-modal-window {
    top: -12%;
    left: 70%;
    width: auto;
  }
}

@media screen and (max-width: 819px) {
  .top-dashboard__title {
    font-size: xx-large;
  }

  .play-area__box {
    margin-bottom: 0;
  }

  .saved-modal-window {
    font-size: small;
    top: -14%;
  }

  .no-saved-modal-window {
    font-size: 10px;
  }
}

@media screen and (max-width: 711px) {
  .menu__navigation ul {
    font-size: x-large;
  }

  .no-saved-modal-window {
    top: 6%;
  }
}

@media screen and (max-width: 681px) {
  .play-area__save {
    font-size: x-large;
  }

  .top-dashboard__navigation ul,
  .top-dashboard__navigation__theme__button {
    font-size: large;
  }

  .modal-window {
    max-width: 400px;
  }

  .modal-window__congratulation {
    margin: 0;
  }

  .score-table tr td,
  .score-table__title {
    font-size: 15px;
  }

  .play-area__display {
    font-size: small;
  }

  .menu__navigation__level,
  .menu__navigation__template {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .bottom-dashboard-menu__button {
    font-size: medium;
  }

  .saved-modal-window {
    top: -15%;
  }

  .no-saved-modal-window {
    top: 5%;
  }
}

@media screen and (max-width: 617px) {

  .saved-modal-window {
    font-size: 10px;
    top: -16%;
  }
}

@media screen and (max-width: 544px) {

  .play-area__time p,
  .play-area__save {
    font-size: medium;
  }

  .play-area__time__word,
  .play-area__time__stopwatch {
    margin: 10px;
  }

  .play-area__time__word {
    margin-left: 50px;
  }

  .play-area__box {
    padding: 10px;
  }

  .saved-modal-window {
    font-size: 8px;
  }
}

@media screen and (max-width: 491px) {
  .play-area__box__field__square {
    width: 33px;
    height: 33px;
  }

  .play-area__box__hint__numberV {
    width: 33px;
    font-size: large;
  }

  .play-area__box__hint__numberH {
    height: 33px;
    font-size: large;
  }
}

@media screen and (max-width: 466px) {
  .top-dashboard__navigation__sound__word,
  .top-dashboard__navigation__theme__word {
    display: none;
  }

  .play-area__time {
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .play-area__time__stopwatch,
  .play-area__time__word {
    margin: 5px;
  }

  .play-area__time__stopwatch {
    margin-left: 50px;
  }

  .play-area__save {
    padding-left: 20px;
  }

  .play-area__save__image {
    width: 20px;
  }

  .score-table tr td {
    font-size: 10px;
  }
}

@media  screen and (max-width: 405px) {
  .play-area__display {
    font-size: 8px;
  }

  .bottom-dashboard__navigation ul,
  .bottom-dashboard-start {
    font-size: small;
  }
}

/* HEIGHT */

@media screen and (min-height: 1020px) {
  .play-area {
    align-items: flex-end;
  }

  #Totoro {
    height: 67%;
  }

  .play-area__box,
  .play-area__section {
    margin-bottom: 100px;
  }

  .menu {
    align-items: flex-end;
  }

  .menu__navigation {
    margin-bottom: 200px;
  }

  .main-score-table {
    align-items: flex-end;
  }

  .score-table {
    margin-bottom: 200px;
  }
}

@media screen and (min-height: 1020px) and (max-width: 800px) {
  .play-area__section {
    margin-bottom: 0;
  }

  .play-area__box {
    margin-bottom: 0;
  }
}

@media screen and (min-height: 972px) and (max-width: 850px) {
  .play-area {
    flex-direction: column;
    display: flex;
    align-items: center;
  }
}

@media screen and (max-height: 850px) {
  .top-dashboard__navigation__sound__button {
    height: 90px;
  }
}

@media screen and (max-height: 763px) {
  .play-area {
    height: max-content;
  }

  #Totoro {
    display: none;
  }

  body {
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: space-around
  }

  .bottom-dashboard-menu {
    height: max-content;
  }

  .play-area__save,
  .top-dashboard__navigation__theme__button {
    font-size: medium;
  }
}

@media screen and (max-height: 674px) {
  .play-area__display {
    font-size: small;
  }

  .bottom-dashboard {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

  .bottom-dashboard-start {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .bottom-dashboard__text-creator {
    margin: 0;
    margin-right: 10px;
  }

  .bottom-dashboard__navigation ul {
    font-size: medium;
    margin-left: 10px;
  }
}

@media screen and (max-height: 517px) {
  .play-area__section {
    font-size: smaller;
  }

  .play-area__display {
    font-size: 8px;
  }

  .play-area__save__image {
    width: 10%;
  }

  .top-dashboard__navigation__sound__button__image {
    width: 60px;
  }

  .top-dashboard__navigation {
    font-size: smaller;
  }

  .top-dashboard__navigation__sound__button,
  .top-dashboard__navigation__theme__button {
    height: 48px;
  }

  .modal-window {
    height: 300px;
  }

  .modal-window__image {
    width: 2vw;
  }

  .modal-window__congratulation {
    font-size: x-large;
  }

  .modal-window__buttons-container {
    margin: 0;
  }

  .modal-window__buttons-container button {
    padding: 2px;
  }
}